<template>
  <div class="app-wrapper">
    <header class="app-header">
      <h1>Styled Components and Shared CSS and JS Variables Nuxt Test</h1>
      <ul>
        <nuxt-link :to="'/shared-css-and-js-vars'" tag="li" class="link">Shared CSS and JS Vars</nuxt-link>
        <nuxt-link :to="'/styled-components-test'" tag="li" class="link">Styled Components Test</nuxt-link>
      </ul>
    </header>
    <main>
      <nuxt/>
    </main>
  </div>
</template>

<style>
.app-wrapper {
  display: flex;
  flex-flow: column;
}
figure {
  margin: 0;
}
header {
  text-align: center;
}
.app-header {
  display: flex;
  flex-flow: column;
}
ul {
  list-style: none;
}
.link {
  color: tomato;
  cursor: pointer;
  text-decoration: underline;
}
main {
  border: 1px solid tomato;
  max-width: 50vw;
  margin: auto;
  padding: 4rem;
}
</style>
