<template>
  <div>

    <header>
      <h1 ref="h1">Shared CSS and JS Vars</h1>
    </header>

    <section>
      The header above was set to blue by sharing variables between JS and CSS. Checkout the console.
    </section>

  </div>
</template>

<script>
export default {
  mounted() {
    console.log(this.$style)
    this.$refs.h1.style.color = this.$style.blue
  }
}
</script>

<style module>
@value blue: #0c77f8;
</style>
