<template>
    <div>
      <header>
        <h1>Styled Component Test</h1>
      </header>
      <section>
        <figure>
          <figcaption>Code</figcaption>
          <code>
            <pre>
// template
...
&lt;styled-title&gt; Hello! &lt;/styled-title&gt;
...

// script
&lt;script&gt;
import styled from 'vue-styled-components'

const StyledTitle = styled.h1`
  font-size: 1.5em;
  text-align: center;
  color: palevioletred;
`;

export default {
  components: {
    'styled-title': StyledTitle
  }
}
&lt;/script&gt;

            </pre>
          </code>
        </figure>

        <figure>
          <figcaption>Output</figcaption>
          <styled-title> Hello! </styled-title>
        </figure>
      </section>
    </div>
</template>

<script>
import styled from 'vue-styled-components'

const StyledTitle = styled.h1`
  font-size: 1.5em;
  text-align: center;
  color: palevioletred;
`;

export default {
  components: {
    'styled-title': StyledTitle
  }
}
</script>
